AZQKAD2/AZQKAD2/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://cara.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://cara.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://cara.org/">
      <s:element name="GetTitleListStringWithNoRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringWithNoRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListStringWithNoRatingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringWithRatingYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringWithRatingYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListStringWithRatingYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringWithPagination">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringWithPaginationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListStringWithPaginationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringFullWithPagination">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringFullWithPaginationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListStringFullWithPaginationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringFullForExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListStringFullForExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListStringFullForExportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListByYearRatingWithPagination">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListByYearRatingWithPaginationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListByYearRatingWithPaginationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListByYearRatingFullWithPagination">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startRow" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endRow" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListByYearRatingFullWithPaginationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListByYearRatingFullWithPaginationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListByYearRatingForExport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rating" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTitleListByYearRatingForExportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTitleListByYearRatingForExportResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExportWithTitleYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="year" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExportWithTitleYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExportWithTitleYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExportWithTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExportWithTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExportWithTitleResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTitleListStringWithNoRatingSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListStringWithNoRating" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringWithNoRatingSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListStringWithNoRatingResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringWithRatingYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListStringWithRatingYear" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringWithRatingYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListStringWithRatingYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringWithPaginationSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListStringWithPagination" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringWithPaginationSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListStringWithPaginationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringFullWithPaginationSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListStringFullWithPagination" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringFullWithPaginationSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListStringFullWithPaginationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringFullForExportSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListStringFullForExport" />
  </wsdl:message>
  <wsdl:message name="GetTitleListStringFullForExportSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListStringFullForExportResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListByYearRatingWithPaginationSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListByYearRatingWithPagination" />
  </wsdl:message>
  <wsdl:message name="GetTitleListByYearRatingWithPaginationSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListByYearRatingWithPaginationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListByYearRatingFullWithPaginationSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListByYearRatingFullWithPagination" />
  </wsdl:message>
  <wsdl:message name="GetTitleListByYearRatingFullWithPaginationSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListByYearRatingFullWithPaginationResponse" />
  </wsdl:message>
  <wsdl:message name="GetTitleListByYearRatingForExportSoapIn">
    <wsdl:part name="parameters" element="tns:GetTitleListByYearRatingForExport" />
  </wsdl:message>
  <wsdl:message name="GetTitleListByYearRatingForExportSoapOut">
    <wsdl:part name="parameters" element="tns:GetTitleListByYearRatingForExportResponse" />
  </wsdl:message>
  <wsdl:message name="GetExportWithTitleYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetExportWithTitleYear" />
  </wsdl:message>
  <wsdl:message name="GetExportWithTitleYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetExportWithTitleYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetExportWithTitleSoapIn">
    <wsdl:part name="parameters" element="tns:GetExportWithTitle" />
  </wsdl:message>
  <wsdl:message name="GetExportWithTitleSoapOut">
    <wsdl:part name="parameters" element="tns:GetExportWithTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetTitleListStringWithNoRating">
      <wsdl:input message="tns:GetTitleListStringWithNoRatingSoapIn" />
      <wsdl:output message="tns:GetTitleListStringWithNoRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringWithRatingYear">
      <wsdl:input message="tns:GetTitleListStringWithRatingYearSoapIn" />
      <wsdl:output message="tns:GetTitleListStringWithRatingYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringWithPagination">
      <wsdl:input message="tns:GetTitleListStringWithPaginationSoapIn" />
      <wsdl:output message="tns:GetTitleListStringWithPaginationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringFullWithPagination">
      <wsdl:input message="tns:GetTitleListStringFullWithPaginationSoapIn" />
      <wsdl:output message="tns:GetTitleListStringFullWithPaginationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringFullForExport">
      <wsdl:input message="tns:GetTitleListStringFullForExportSoapIn" />
      <wsdl:output message="tns:GetTitleListStringFullForExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingWithPagination">
      <wsdl:input message="tns:GetTitleListByYearRatingWithPaginationSoapIn" />
      <wsdl:output message="tns:GetTitleListByYearRatingWithPaginationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingFullWithPagination">
      <wsdl:input message="tns:GetTitleListByYearRatingFullWithPaginationSoapIn" />
      <wsdl:output message="tns:GetTitleListByYearRatingFullWithPaginationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingForExport">
      <wsdl:input message="tns:GetTitleListByYearRatingForExportSoapIn" />
      <wsdl:output message="tns:GetTitleListByYearRatingForExportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExportWithTitleYear">
      <wsdl:input message="tns:GetExportWithTitleYearSoapIn" />
      <wsdl:output message="tns:GetExportWithTitleYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExportWithTitle">
      <wsdl:input message="tns:GetExportWithTitleSoapIn" />
      <wsdl:output message="tns:GetExportWithTitleSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTitleListStringWithNoRating">
      <soap:operation soapAction="http://cara.org/GetTitleListStringWithNoRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringWithRatingYear">
      <soap:operation soapAction="http://cara.org/GetTitleListStringWithRatingYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringWithPagination">
      <soap:operation soapAction="http://cara.org/GetTitleListStringWithPagination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringFullWithPagination">
      <soap:operation soapAction="http://cara.org/GetTitleListStringFullWithPagination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringFullForExport">
      <soap:operation soapAction="http://cara.org/GetTitleListStringFullForExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingWithPagination">
      <soap:operation soapAction="http://cara.org/GetTitleListByYearRatingWithPagination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingFullWithPagination">
      <soap:operation soapAction="http://cara.org/GetTitleListByYearRatingFullWithPagination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingForExport">
      <soap:operation soapAction="http://cara.org/GetTitleListByYearRatingForExport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportWithTitleYear">
      <soap:operation soapAction="http://cara.org/GetExportWithTitleYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportWithTitle">
      <soap:operation soapAction="http://cara.org/GetExportWithTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTitleListStringWithNoRating">
      <soap12:operation soapAction="http://cara.org/GetTitleListStringWithNoRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringWithRatingYear">
      <soap12:operation soapAction="http://cara.org/GetTitleListStringWithRatingYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringWithPagination">
      <soap12:operation soapAction="http://cara.org/GetTitleListStringWithPagination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringFullWithPagination">
      <soap12:operation soapAction="http://cara.org/GetTitleListStringFullWithPagination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListStringFullForExport">
      <soap12:operation soapAction="http://cara.org/GetTitleListStringFullForExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingWithPagination">
      <soap12:operation soapAction="http://cara.org/GetTitleListByYearRatingWithPagination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingFullWithPagination">
      <soap12:operation soapAction="http://cara.org/GetTitleListByYearRatingFullWithPagination" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleListByYearRatingForExport">
      <soap12:operation soapAction="http://cara.org/GetTitleListByYearRatingForExport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportWithTitleYear">
      <soap12:operation soapAction="http://cara.org/GetExportWithTitleYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExportWithTitle">
      <soap12:operation soapAction="http://cara.org/GetExportWithTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://www.filmratings.com/filmratings_cara/WebCaraSearch/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://www.filmratings.com/filmratings_cara/WebCaraSearch/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>